.login-section, .register-section, .register-success-section {
  width:75%;
  margin:3rem auto;
  border-radius:15px;
  background-color:rgba(190, 229, 235, .6);
  font-family:cursive;
  text-align:center;
}

#login-container, #register-container, #register-success-container {
  padding:2rem 0 2rem 0;
}

#login-form, #register-form {
  width:50%;
  margin:0 auto;
}

#login-form .form-group a, #register-form .form-group a {
  color:cornflowerblue;
}
