html {
  font-family:"Fira Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

body {
  background-color:oldlace;
}

.main-footer {
  font-size:.875rem;
  margin:1rem auto;
  padding:1rem;
  color:#dbdbdb;
  background-color:#202020;
}

.grid-container {
  max-width:1220px;
  margin:0 auto;
  text-align:center;
}