.article-section {
  width:75%;
  margin:5rem auto;
  border-radius:10px;
  background-color:lightblue;
  opacity:0.8;
}

.section-title {
  color:black;
  font-family:cursive;
}

#articles {
  padding:2rem 0 2rem 0;
}

#articles > h4, #articles > div {
  color:black;
  background-color:whitesmoke;
  border-radius:5px;
  padding:5px;
  margin:5px;
}

#articles > h4:hover {
  background-color:lightyellow;
  cursor:pointer;
}

#articles > div:hover {
  background-color:lightgoldenrodyellow;
  cursor:text;
}