.article-section, .schedule-section {
  width:75%;
  margin:5rem auto;
  border-radius:10px;
  background-color:lightblue;
  opacity:0.8;
}

.schedule-section {
  margin-top:0;
  margin-bottom:3rem;
}

.section-title, .section-end {
  color:black;
  font-family:cursive;
}

.section-end {
  text-align:center;
}

.section-title a i {
  padding-top:1rem;
  color:black;
}

.section-title a i:hover {
  color:white;
}

.section-title span {
  font-size:60%;
  color:yellow;
}

.section-title span a {
  color:white;
}

.section-title span a:hover {
  color:red;
}

#articles {
  padding:2rem 0 2rem 0;
}

#articles > h4, #articles > div {
  color:black;
  background-color:whitesmoke;
  border-radius:5px;
  padding:5px;
  margin:5px;
}

#articles > h4 small {
  font-family:monospace;
}

#articles > h4:hover {
  background-color:lightyellow;
  cursor:pointer;
}

#articles > div:hover {
  background-color:lightgoldenrodyellow;
  cursor:text;
}

#schedules {
  padding:2rem 1rem 2rem 1rem;
}

#schedule-table {
  background-color:whitesmoke;
  border-radius:10px;
}

#schedule-table tr:hover {
  background-color:#fff9e0;
}

#schedule-table th {
  font-family:cursive;
}

#schedule-table td.cell-date, #schedule-table td.cell-time {
  font-family:monospace;
}
