.navbar-home {
  background-color:rgba(0, 0, 0, .6);
}

.navbar-home .navbar-brand {
  color:whitesmoke;
  font-weight:bold;
}

.navbar-home .nav-item > .nav-link {
  color:lightgray;
}

.navbar-home .nav-item > .nav-link:hover {
  color:deepskyblue;
}

.navbar-home .mr-auto .nav-item > a.current {
  color:deepskyblue;
}

.navbar-home .dropdown-menu {
  background-color:black;
  border-color:black;
}

.navbar-home .dropdown-menu > a {
  color:lightgray;
  background-color:black;
}

.navbar-home .dropdown-menu > a:hover {
  color:deepskyblue;
}

.navbar-home #greeting {
  color:lightgray;
}

.alert-position {
  width:50%;
  margin-left:25%;
  z-index:10;
  position:fixed;
  text-align:center;
}

#logout-modal {
  background-color:black;
}

.tab-content .container {
  width:80%;
  padding-top:2rem;
}

.tab-content .container form {
  width:80%;
  margin:1rem auto;
}

.modal-table {
  border-radius:20px;
  background-color:rgba(216, 226, 229, 0.6);
}

.modal-table td {
  padding:0.25rem 1rem;
  text-align:left;
}

.modal-table tr:hover {
  background-color:#fff9e0;
}

.modal-table td:hover {
  cursor:default;
}

.modal-table .cell-title {
  font-weight:bolder;
  font-style:italic;
}

.modal-table .cell-value {
  padding-right:2rem;
}

#email-update-message {
  display:none;
}
