.navbar-home {
  background-color:rgba(0, 0, 0, .6);
}

.navbar-home .navbar-brand {
  color:whitesmoke;
  font-weight:bold;
}

.navbar-home .nav-item > .nav-link {
  color:lightgray;
}

.navbar-home .nav-item > .nav-link:hover {
  color:deepskyblue;
}

.navbar-home .mr-auto .nav-item > a.current {
  color:deepskyblue;
}

.navbar-home .dropdown-menu {
  background-color:black;
  border-color:black;
}

.navbar-home .dropdown-menu > a {
  color:lightgray;
  background-color:black;
}

.navbar-home .dropdown-menu > a:hover {
  color:deepskyblue;
}

.navbar-home #greeting {
  color:lightgray;
}

#profile-modal-title {
  font-style:italic;
}

#logout-modal {
  background-color:black;
}

.modal-table tr {
  background-color:rgba(216, 226, 229, 0.6);
}

.modal-table tr:hover {
  background-color:#fff9e0;
}

.modal-table td {
  padding:4px 15px;
  vertical-align:middle;
  border-width:1px 1px 0;
  border-style:solid;
  border-color:#dbdbdb;
  text-align:left;
}

.modal-table .cell-title {
  min-width:160px;
  font-style:italic;
}

.modal-table .cell-value {
  white-space:nowrap;
}

.alert-position {
  width:50%;
  margin-left:25%;
  z-index:10;
  position:fixed;
  text-align:center;
}

#home-placeholder {
  margin:10rem auto;
}