.select-role-section {
  width:75%;
  margin:3rem auto;
  border-radius:10px;
  background-color:rgba(190, 229, 235, .6);
  font-family:cursive;
  text-align:center;
}

#select-role {
  padding-top:1rem;
}

.row .col-4 a {
  color:black;
}

.row .col-4 img {
  width:256px;
  height:256px;
}