.apparatus-section, .laboratory-section, .forbidden-section {
  width:80%;
  margin:5rem auto;
  border-style:ridge;
  border-radius:15px;
  background-color:lightblue;
  opacity:0.8;
}

.section-title {
  padding-top:1rem;
  color:black;
  font-family:cursive;
}

.section-invalid-title {
  color:red;
  text-align:center;
}

.table-wrapper {
  padding:2rem 1rem 2rem 1rem;
}

.inventory-table {
  background-color:whitesmoke;
  border-style:groove;
  border-width:thin;
  border-radius:10px;
}

.inventory-table th {
  font-family:cursive;
}

.inventory-table tr:hover {
  background-color:#fff9e0;
}

.inventory-table td > a:hover {
  color:green;
}

.choose-list-form {
  width:90%;
  margin:1rem auto;
}

.choose-list-wrapper ul li {
  padding:15px 0 5px 25px;
  margin-top:1rem;
  border-radius:30px;
  list-style-type:none;
  background-color:lightskyblue;
}

.choose-list-wrapper ul li button {
  margin:-7px 20px 15px 0;
  border-radius:30px;
}