.apparatus-section, .laboratory-section, .forbidden-section {
  width:80%;
  margin:5rem auto;
  border-style:ridge;
  border-radius:10px;
  background-color:lightblue;
  opacity:0.8;
}

.section-title {
  color:black;
  font-family:cursive;
}

.section-invalid-title {
  color:red;
  text-align:center;
}

.table-wrapper {
  padding:2rem 1rem 2rem 1rem;
}

.inventory-table {
  background-color:whitesmoke;
  border-style:groove;
  border-width:thin;
  border-radius:10px;
}

.inventory-table th {
  font-family:cursive;
}

.inventory-table tr:hover {
  background-color:lightskyblue;
}