.tab-title {
  font-size:large;
  font-style:italic;
  font-family:cursive;
  font-weight:bold;
  text-align:center;
}

.application-table-wrapper {
  margin:2rem auto;
  padding-bottom:2rem;
}

.application-table tr:hover {
  background-color:#fff9e0;
}

.application-table .cell-link > a {
  color:black;
}

.application-table .cell-link > a:hover {
  color:green;
  font-weight:bold;
  text-decoration:none;
}

/* Style for application detail windows  */
.update-form {
  width:85%;
  margin:0.5rem auto;
}

.update-message, .apply-message {
  display:none;
}

.application-detail-table .cell-title {
  padding-right:2rem;
  font-weight:bold;
  font-style:italic;
}

.application-detail-table td {
  padding-top:1rem;
}

.summary-wrapper ul li {
  padding:15px 0 5px 25px;
  margin-top:1rem;
  border-radius:30px;
  list-style-type:none;
  background-color:lightskyblue;
}

.summary-wrapper ul li button {
  margin:-7px 20px 15px 0;
  border-radius:30px;
}
