{% extends "lims_site/base.html" %}
{% load static %}

{% block title %}
  Who am i
{% endblock title %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock link %}

{% block content %}
  <div class="container-fluid select-role-section">
    <div class="container">
      <h2>WHO AM I ?</h2>
    </div>
    <div class="container" id="select-role-container">
      <div class="row">
        <div class="col-4 hvr-grow-shadow">
          <a href="{% url 'register' %}">
            <img src="{% static 'images/newcomer.png' %}" class="img-thumbnail" alt="newcomer">
            <h4>Newcomer</h4>
          </a>
        </div>
        <div class="col-4 hvr-grow-shadow">
          <a href="{% url 'login' %}">
            <img src="{% static 'images/s-and-t.png' %}" class="img-thumbnail" alt="teacher and student">
            <h4>Student/Teacher</h4>
          </a>
        </div>
        <div class="col-4 hvr-grow-shadow">
          <a href="/admin">
            <img src="{% static 'images/admin.png' %}" class="img-thumbnail" alt="admin">
            <h4>Staff/Admin</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    $(function () {
      // fade in the three roles from left to right
      $('div.col-4').hide().each(function (index) {
        $(this).delay(300 * index).fadeIn();
      });
    });
  </script>
{% endblock script %}