{% extends "base.html" %}
{% load static %}

{% block title %}
  Whoami
{% endblock title %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock link %}

{% block content %}
  <div class="container-fluid select-role-section">
    <div class="container">
      <h2>WHO AM I ?</h2>
    </div>
    <div class="container" id="select-role">
      <div class="row">
        <div class="col-4 hvr-grow-shadow">
          <a href="/register">
            <img src="{% static 'images/newcomer.png' %}" class="img-thumbnail" alt="newcomer">
            <h4>Newcomer</h4>
          </a>
        </div>
        <div class="col-4 hvr-grow-shadow">
          <a href="/login">
            <img src="{% static 'images/s-and-t.png' %}" class="img-thumbnail" alt="teacher and student">
            <h4>Student/Teacher</h4>
          </a>
        </div>
        <div class="col-4 hvr-grow-shadow">
          <a href="/admin">
            <img src="{% static 'images/administrator.png' %}" class="img-thumbnail" alt="admin">
            <h4>Staff/Admin</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script src="{% static 'js/index.js' %}"></script>
{% endblock script %}