{% extends "accounts/home.html" %}
{% load static %}

{% block title %}
  Bulletin
{% endblock title %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bulletin.css' %}"/>
{% endblock link %}

{% block main-content %}
  <div class="container-fluid article-section">
    <div class="container">
      <h3 class="section-title">What is going on?
      <span>More in <a href="{% url 'site-news' %}">here</a></span>
      </h3>
    </div>
    <div class="container" id="articles">
      {% for article in article_list %}
        <h4>
          <i class="fa fa-arrow-down"></i>
          <small>{{ article.published|date:"D, F d Y, P" }}</small> -
          <em>{{ article.subject|capfirst }}</em>
        </h4>
        <div>{{ article.content }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="container-fluid schedule-section">
    <div class="container">
      <h3 class="section-title">Facility Schedules
        <span>Now: {% now "D, F d Y, P" %}</span>
      </h3>
    </div>
    <div class="container" id="schedules">
      <table id="schedule-table" class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>School</th>
            <th>Location</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>
          {% for schedule in schedule_list %}
          <tr>
            <td class="cell-date">{{ schedule.day|date:"D, F d Y" }}</td>
            <td>{{ schedule.school }}</td>
            <td>{{ schedule.site }}</td>
            <td>{{ schedule.start }}</td>
            <td>{{ schedule.end }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock main-content %}

{% block script %}
  <script src="{% static 'js/home.js' %}"></script>
  <script src="{% static 'js/alert.js' %}"></script>
  <script>
    $(function () {
      $('#articles').accordion();
      $('#schedule-table').DataTable();
    });
  </script>
{% endblock script %}