{% extends "accounts/home.html" %}
{% load static %}

{% block title %}
  News Center
{% endblock title %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bulletin.css' %}"/>
{% endblock link %}

{% block main-content %}
  <div class="container-fluid article-section">
    <div class="container">
      <h3 class="section-title">Latest News</h3>
    </div>
    <div class="container" id="articles">
      {% for article in article_list %}
        <h4>
          <i class="fa fa-arrow-down"></i>
          <small>{{ article.published|date:"D, F d Y, P" }}</small> -
          <em>{{ article.subject|capfirst }}</em>
        </h4>
        <div>{{ article.content }}</div>
      {% endfor %}
    </div>
    <div class="container">
      <h3 class="section-end">THE END</h3>
    </div>
  </div>
{% endblock main-content %}

{% block script %}
  <script src="{% static 'js/home.js' %}"></script>
  <script src="{% static 'js/alert.js' %}"></script>
  <script>
    $(function () {
      $('#articles').accordion();
    });
  </script>
{% endblock script %}