{% extends "applications/apply-base.html" %}
{% load static %}

{% block title %}
  Apply for Facility
{% endblock title %}

{% block application-content %}
  <form class="create-form"
        data-action="CREATE"
        data-ajax-url="{% url 'ajax-app' %}"
        data-application-type="FACILITY">
    {% csrf_token %}

    <div class="form-group">
      <label for="alias" class="col-form-label">Application Alias</label>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-tag"></i></span>
        </div>
        <input type="text" id="alias" name="alias" class="form-control"
               placeholder="Name your application" required autofocus/>
      </div>
    </div>

    <div class="form-group">
      <label for="start" class="col-form-label">Borrowing Start Date</label>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-calendar-check-o"></i></span>
        </div>
        <input type="date" id="start" name="start" class="form-control" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="end" class="col-form-label">Borrowing End Date</label>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-calendar-times-o"></i></span>
        </div>
        <input type="date" id="end" name="end" class="form-control" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="reason" class="col-form-label">Apply Reason <i class="fa fa-question"></i></label>
      <textarea class="form-control" id="reason" name="reason" required></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-primary btn-block">
        <i class="fa fa-plus"></i> Add to List
      </button>
    </div>
  </form>
{% endblock application-content %}
