{% extends "applications/apply-base.html" %}
{% load static %}

{% block title %}
  Apply for Facility
{% endblock title %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/apply-base.css' %}"/>
{% endblock link %}

{% block application-content %}
{% endblock application-content %}

{% block script %}
  <script src="{% static 'js/home.js' %}"></script>
  <script src="{% static 'js/alert.js' %}"></script>
  <script src="{% static 'js/apply-base.js' %}"></script>
{% endblock script %}
