{% extends "accounts/home.html" %}
{% load static %}

{% block title %}
  Application Base
{% endblock title %}

{% block exrea-style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/applications-base.css' %}"/>
  {% block extra-applications-style %} {% endblock extra-applications-style %}
{% endblock exrea-style %}

{% block main-content %}
  <div class="container-fluid" id="apply-base-section">
    <div class="container" id="apply-base-wrapper">
      <aside class="sidebar">
        <nav>
          <ul>
            <li><i class="fa fa-hand-o-right"></i><a class="hvr-grow-shadow" href="{% url 'my-list' %}">My List</a></li>
            <li><i class="fa fa-hand-o-right"></i><a class="hvr-grow-shadow" href="{% url 'apply-facility' %}">Apply Facility</a></li>
            <li><i class="fa fa-hand-o-right"></i><a class="hvr-grow-shadow" href="{% url 'apply-research' %}">Apply Research</a></li>
          </ul>
        </nav>
      </aside>

      <section id="apply-base-content">
        {% block application-content %}
        {% endblock application-content %}
      </section>
    </div>
  </div>
{% endblock main-content %}

{% block extra-script %}
  <script src="{% static 'js/applications-base.js' %}"></script>
  {% block extra-applications-script %} {% endblock extra-applications-script %}
{% endblock extra-script %}
