{% extends "applications/apply-base.html" %}
{% load static %}

{% block title %}
  My List
{% endblock title %}

{% block extra-applications-style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/my-list.css' %}"/>
{% endblock extra-applications-style %}

{% block application-content %}
  <div class="list-wrapper">
    <h3 class="list-title">Facility Applications</h3>
    <hr/>
    <table class="table table-striped application-table">
      <thead>
      <tr>
        <th><i class="fa fa-tag"></i> Alias</th>
        <th><i class="fa fa-calendar-check-o"></i> Start</th>
        <th><i class="fa fa-calendar-times-o"></i> End</th>
        <th><i class="fa fa-exclamation-circle"></i> Status</th>
      </tr>
      </thead>
      <tbody>
      {% for facility_app in facility_application_list %}
        <tr>
          <td class="cell-link">
            <a href="#facility-{{ facility_app.id }}-detail-modal"
               class="hvr-wobble-skew" data-toggle="modal">{{ facility_app.alias }}</a></td>
          <td>{{ facility_app.start|date:"Y/m/d, D" }}</td>
          <td>{{ facility_app.end|date:"Y/m/d, D" }}</td>
          <td>
            {% if facility_app.status == 'PEN' or facility_app.status == 'CLO' %}
              <strong class="text-dark">{{ facility_app.get_status_display }}</strong>
            {% elif facility_app.status == 'ONG' or facility_app.status == 'BOR' %}
              <strong class="text-success">{{ facility_app.get_status_display }}</strong>
            {% elif facility_app.status == 'APP' %}
              <strong class="text-primary">{{ facility_app.get_status_display }}</strong>
            {% elif facility_app.status == 'WAI' %}
              <strong class="text-info">{{ facility_app.get_status_display }}</strong>
            {% else %}
              <strong class="text-danger">{{ facility_app.get_status_display }}</strong>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="list-divider"></div>
  <div class="list-wrapper">
    <h3 class="list-title">Research Applications</h3>
    <hr/>
  </div>
{% endblock application-content %}

{% block extra-modal %}
  {% for facility_app in facility_application_list %}
    <div class="modal fade" id="facility-{{ facility_app.id }}-detail-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Application Status -
              {% if facility_app.status == 'PEN' or facility_app.status == 'CLO' %}
                <strong class="text-dark">{{ facility_app.get_status_display }}</strong>
              {% elif facility_app.status == 'ONG' or facility_app.status == 'BOR' %}
                <strong class="text-success">{{ facility_app.get_status_display }}</strong>
              {% elif facility_app.status == 'APP' %}
                <strong class="text-primary">{{ facility_app.get_status_display }}</strong>
              {% elif facility_app.status == 'WAI' %}
                <strong class="text-info">{{ facility_app.get_status_display }}</strong>
              {% else %}
                <strong class="text-danger">{{ facility_app.get_status_display }}</strong>
              {% endif %}
            </h4>
          </div>

          <form method="post" class="update-form"
                data-ajax-url="{% url 'ajax-fa' %}"
                data-remove-url="{% url 'remove-facility-from-list' %}"
                data-facility-app-id="{{ facility_app.id }}">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ facility_app.id }}" />
            <div class="modal-body">
              <table class="application-detail-table">
                <tr>
                  <td class="cell-title"><i class="fa fa-tag"></i> Alias</td>
                  <td colspan="2"><input type="text" name="alias" class="form-control"
                       placeholder="{{ facility_app.alias }}" title="Application Alias"/></td>
                </tr>
                <tr>
                  <td class="cell-title"><i class="fa fa-calendar-check-o"></i> Start Date</td>
                  <td>{{ facility_app.start|date:"Y/m/d, D" }}</td>
                  {% if facility_app.status == 'PEN' %}
                    <td><input type="date" name="start" class="form-control"/></td>
                  {% endif %}
                </tr>
                <tr>
                  <td class="cell-title"><i class="fa fa-calendar-times-o"></i> End Date</td>
                  <td>{{ facility_app.end|date:"Y/m/d, D" }}</td>
                  {% if facility_app.status == 'PEN' %}
                    <td><input type="date" name="end" class="form-control"/></td>
                  {% endif %}
                </tr>
                <tr>
                  <td class="cell-title"><i class="fa fa-question"></i> Apply Reason</td>
                  <td colspan="2">
                    {% if facility_app.status == 'PEN' %}
                      <textarea class="form-control" name="reason">{{ facility_app.reason }}</textarea>
                    {% else %}
                      <textarea class="form-control" name="reason" readonly>{{ facility_app.reason }}</textarea>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="cell-title"><i class="fa fa-reply"></i> Staff Reply</td>
                  <td colspan="2">
                    {% if facility_app.status == 'PEN' %}
                      <textarea class="form-control" readonly>You haven't applied it yet.</textarea>
                    {% else %}
                      <textarea class="form-control" readonly>{{ facility_app.reply }}</textarea>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td class="cell-title"><i class="fa fa-bell-o"></i> Created at</td>
                  <td colspan="2">{{ facility_app.created_at|date:"Y/m/d, h:ia" }}</td>
                </tr>
                <tr>
                  <td class="cell-title"><i class="fa fa-bell"></i> Applied at</td>
                  <td colspan="2">
                    {% if facility_app.status == 'PEN' %}
                      -
                    {% else %}
                      {{ facility_app.applied_at|date:"Y/m/d, h:ia" }}
                    {% endif %}
                  </td>
                </tr>
              </table>
              <hr />

              <h5 class="text-center"><i class="fa fa-list-ul"></i>
                 Facility List &nbsp;
                <small class="text-dark">({{ user_quota }} / {{ user.limit }})</small>
              </h5>
              {% if facility_app.status == 'PEN' and facility_app.items.count > 1 %}
                <h6 class="text-center text-danger"><i class="fa fa-exclamation-triangle"></i>
                  Remove will take effect immediately</h6>
              {% endif %}
              <div class="facility-summary-wrapper">
                <ul>
                  {% for fa, lists in context.items %}
                    {% if fa == facility_app %}
                      {% for list_name, list in lists.items %}
                        {% if list_name == 'apparatus_list' %}
                          {% for apparatus in list %}
                            <li><h6 class="text-secondary"><i class="fa fa-flask"></i>
                              &nbsp;{{ apparatus.name }} - {{ apparatus.model_no }}
                              {% if facility_app.status == 'PEN' %}
                                <button type="button" class="btn btn-warning btn-sm btn-remove pull-right hvr-grow"
                                        data-facility-id="{{ apparatus.id }}">
                                  <i class="fa fa-remove"></i> Remove</button>
                              {% endif %}
                            </h6></li>
                          {% endfor %}
                        {% else %}
                          {% for lab in list %}
                            <li><h6 class="text-secondary"><i class="fa fa-building"></i>
                              &nbsp;{{ lab.location }} - {{ lab.capacity }}
                              {% if facility_app.status == 'PEN' %}
                                <button type="button" class="btn btn-warning btn-sm btn-remove pull-right hvr-grow"
                                        data-facility-id="{{ lab.id }}">
                                  <i class="fa fa-remove"></i> Remove</button>
                              {% endif %}
                            </h6></li>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <h6 class="text-center text-info apply-message" id="apply-message-{{ facility_app.id }}">
                <i class="fa fa-exclamation-circle"></i>&nbsp;<span></span></h6>
            </div>
            <div class="modal-footer">
              <i class="fa fa-check fa-lg text-success update-message" id="update-message-{{ facility_app.id }}"></i>
              <button data-action="UPDATE" type="button" class="btn btn-primary btn-action"><i class="fa fa-save"></i> Save</button>
              {% if facility_app.status == 'PEN' %}
                <button data-action="APPLY" type="button" class="btn btn-success btn-action"><i class="fa fa-send"></i> Apply</button>
              {% endif %}
              {% if facility_app.status == 'APP' %}
                <button data-action="WITHDRAW" type="button" class="btn btn-secondary btn-action"><i class="fa fa-reply-all"></i> Withdraw</button>
              {% endif %}
              {% if facility_app.status == 'PEN' or facility_app.status == 'CLO' %}
                <button data-action="DELETE" type="button" class="btn btn-danger btn-action"><i class="fa fa-times"></i> Delete</button>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock extra-modal %}

{% block extra-applications-script %}
  <script src="{% static 'js/my-list.js' %}"></script>
{% endblock extra-applications-script %}
