{% extends "base.html" %}
{% load static %}

{% block title %}
  Home
{% endblock title %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock link %}

{% block content %}
  <nav class="navbar navbar-expand-lg fixed-top navbar-home">
    <a class="navbar-brand" href="{% url 'user-home' %}">
      LIMS<span>&nbsp;<i class="fa fa-bullhorn"></i></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link hvr-underline-from-center" href="#"> Apply Apparatus</a></li>
        <li class="nav-item"><a class="nav-link hvr-underline-from-center" href="#"> Apply Research</a></li>
        <li class="nav-item"><a class="nav-link hvr-underline-from-center" href="#"> The Inventory</a></li>
      </ul>
      <ul class="navbar-nav pull-right">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">
            <span id="greeting">Hi,</span>
            <span>
              {% if user.name|length != 0 %}
                {{ user.name }}
              {% else %}
                {{ user.campus_id }}
              {% endif %}
              &nbsp;
              <i class="fa fa-user-circle"></i></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#profile-modal">
              <i class="fa fa-user"></i> Profile</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#logout-modal">
              <i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  {% if account_update_message %}
    <div class="alert alert-info alert-position" data-alert-animate="bounceIn">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{ account_update_message }} <i class="fa fa-exclamation"></i></strong>
    </div>
  {% endif %}

  <div class="modal" id="profile-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="{% url 'user-home' %}" id="update-form">
          {% csrf_token %}
        <div class="modal-header">
          <h4 class="modal-title" id="profile-modal-title">My Profile</h4>
        </div>

        <div class="modal-body">
          <table class="modal-table">
            <tr><td class="cell-title">Campus ID</td><td class="cell-value">{{ user.campus_id }}</td></tr>
            <tr><td class="cell-title">Name</td><td class="cell-value">{{ user.name }}</td></tr>
            <tr><td class="cell-title">School</td><td class="cell-value">{{ user.school }}</td></tr>
            <tr><td class="cell-title">Borrow Limit</td><td class="cell-value">{{ user.borrow_limit }}</td></tr>
            <tr><td class="cell-title">Role</td><td class="cell-value">
              {% if user.role == 'STU' %}
                <i class="fa fa-graduation-cap"></i>
              {% elif user.role == 'TEA' %}
                <i class="fa fa-black-tie"></i>
              {% elif user.role == 'STA' or user.role == 'ADM' %}
                <i class="fa fa-cogs"></i>
              {% elif user.role == 'SUP' %}
                <i class="fa fa-universal-access"></i>
              {% else %}
                <i class="fa fa-users"></i>
              {% endif %}
              <span>&nbsp;({{ user.role }})</span>
            </td></tr>
            <tr><td class="cell-title">Verified?</td><td class="cell-value">
              {% if user.is_verified %}
                <i class="fa fa-check-circle"></i>
              {% else %}
                <i class="fa fa-times-circle"></i>
              {% endif %}
            </td></tr>
            <tr><td class="cell-title">Last Login</td><td class="cell-value">{{ user.last_login }}</td></tr>
            <tr><td class="cell-title">Date Joined</td><td class="cell-value">{{ user.date_joined }}</td></tr>
            <tr><td class="cell-title">Email</td><td class="cell-value">{{ user.email }}</td></tr>
          </table>
          <div class="dropdown-divider"></div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-at"></i></span>
            </div>
            <input type="email" id="email" name="email" title="Your New Email"
                   class="form-control" placeholder="New email address" required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-sm">
            <i class="fa fa-check"></i> Save
          </button>
          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
            <i class="fa fa-times"></i> Cancel
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal" id="logout-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign out</h4>
        </div>
        <div class="modal-body">
          <b>Are you sure to leave the system?</b>
        </div>
        <div class="modal-footer">
          <form method="post" action="{% url 'logout' %}" id="logout-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm">
              <i class="fa fa-check"></i> Yep
            </button>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
              <i class="fa fa-times"></i> Nope
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% block main-content %} {% endblock main-content %}

{% endblock content %}

{% block script %}
  <script src="{% static 'js/home.js' %}"></script>
  <script src="{% static 'js/alert.js' %}"></script>
{% endblock script %}
