{% extends "base.html" %}
{% load static %}

{% block title %}
  Sign In
{% endblock title %}

{% block link %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}"/>
{% endblock link %}

{% block content %}
  <div class="container-fluid login-section">
    <div class="container">
      <h2>Sign In Here</h2>
    </div>
    <div class="container" id="login-container">
      <form method="post" action="{% url 'login' %}" id="login-form">
        {% csrf_token %}

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
          </div>
          <input type="text" id="campus-id" name="campus_id" title="Campus ID"
                 class="form-control" placeholder="Your campus ID" required autofocus>
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
          </div>
          <input type="password" id="password" name="password" title="Password"
                 class="form-control" placeholder="Your password" required/>
        </div>

        {% for field in login_form %}
          <div>
            {% for error in field.errors %}
              <p style="color:red">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}

        {% if login_form.non_field_errors %}
          <div>
            <p style="color:red">{{ login_form.non_field_errors }}</p>
          </div>
        {% endif %}

        <div class="form-group">
          <button type="submit" class="btn btn-lg btn-primary btn-block">
            <i class="fa fa-sign-in"></i>&nbsp; Sign In Now</button>
        </div>

        <div class="form-group">
          <a href="{% url 'register' %}">newcomer?</a>
          <a href="{% url 'forgot-password' %}">forgot password?</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script src="{% static 'js/accounts.js' %}"></script>
{% endblock script %}
